aiodns==3.0.0
aiohttp==3.8.5
async-timeout==4.0.3
attrs==23.1.0
ccxt==4.0.76
certifi==2023.7.22
cffi==1.15.1
chardet==3.0.4
cryptography==41.0.3
idna==2.8
launchpadlib ==1.11.0
multidict==4.5.2
progressbar==2.5
pycares==4.3.0
pycparser==2.21
python-dateutil==2.8.1
requests==2.31.0
six==1.12.0
SQLAlchemy==1.3.10
urllib3==1.25.6
virtualenv==20.24.3
yarl==1.9.2
