# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.json
*.csv
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# Folders to ignore
node_modules/
strategies/
exchange/
env/
tools/
# Ignore specific file inside tools directory
tools/ccxt_orders.js
