<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gekko-m4</title>
</head>
<body>
    <h2> keep calm and make somethig of amazing</h2>
    <svg class="bar-chart"></svg>
</body>
</html>

<script type="module" src="./static/js/index.js"></script>
